
.container {
    background-color: #00ffff6e;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 630px;

}

.h1, h1 {
    font-size: 25px;
    justify-content: center;
}

.botonRedireccion{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.4 rem;
    border-radius: 12px;
    margin-top: 3px;
    display: block;
}